PORT=3500
LOG_LEVEL=dev

DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=trade_marketing
DB_HOST=database-trade-marketing
DB_PORT=5432

MAIL_HOST=smtp.host.com
MAIL_PORT=465
MAIL_USER=mail@mail.com
MAIL_PASSWORD=lorem

JWT_SECRET=B&BTokeñjwtDev0pñ123$
JWT_EXPIRATION=2h
JWT_REFRESH_EXP=3h

NODE_TLS_REJECT_UNAUTHORIZED=0


# Entra ID (Azure AD) Configuration
ENTRA_CLIENT_ID=your-entra-client-id-here
ENTRA_TENANT_ID=your-entra-tenant-id-here

URL_LDAP='https://ldap.example.com'
WS_EMPLOYEES='https://ws.example.com/employees'
WS_TOKEN='ExampleToken123'
