{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@src/*": ["src/*"],
      "@server/*": ["src/server/*"],
      "@config/*": ["src/server/config/*"],
      "@contexts/*": ["src/contexts/*"]
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true,
  "exclude": ["node_modules", "src/**/*.test.ts"]
}
